<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Aluno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Cadastrar</h1>
    <form action="#" th:action="@{/aluno}" th:object="${aluno}" method="post">
    	<p>Matricula: <input type="text" th:field="*{matricula}" required /></p>
    	<p>Nome: <input type="text" th:field="*{nome}" required /></p>
    	<p>Codigo do curso: <input type="text" th:field="*{codigoCurso}" required /></p>
    	<p>Telefone: <input type="text" th:field="*{telefone}" /></p>
    	<p>Email: <input type="text" th:field="*{email}" required /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>